# Dependencies
node_modules
.pnpm-store

# Build output
dist
storybook-static
styled-system

# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor directories
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Testing
coverage

# Misc
.cache
